<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">


    <title>Car Rental System</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='RevUp.png') }}" alt="Car Rental Logo" class="logo"> <!-- Add this line -->
        <h1>Welcome to GearShift</h1>
        <br>
        <nav>
            <a href="/">Home</a>
            <a href="/customers">Customers</a>
            <a href="/cars">Cars</a>
            <a href="/rentals">Rentals</a>
        </nav>
    </header>
    <main>
        <h2>Car Rental Management Made Easy</h2>
        <p>Manage your rentals, cars, and customers with ease!</p>
    </main>
    <footer>
        <p>&copy; 2024 Car Rental System</p>
    </footer>
</body>
</html>
